* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-login {
  width: 500px;
  max-width: 100%;
  padding: 50px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
  border: 1px solid #330980;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #330980;
  background-color: rgb(12, 15, 17);

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .control {
    width: 100%;
    background: #24303c;
    color: white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #330980;
    font-family: 'calibri';
    font-size: 18px;
  }

  .button {
    width: 100%;
    background: #330980;
    border: none;
    border-radius: 2px;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;

    @media screen and (max-width: 768px) {
      padding: 10px;
      font-size: 14px;
    }
  }

  @media screen and (max-width: 768px) {
    padding: 30px;
    font-size: 14px;
  }
}
