.left-navbar {
  position: fixed;
  width: 220px;
  height: 100%;
  background: rgb(97, 161, 245);
  border-left: 10px solid black;
  transition: 0.5s;
  overflow: hidden;
  margin-top: auto;

  ul {
    padding: 0;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    width: 100%;

    li {
      position: relative;
      width: 200%;
      list-style: none;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      a {
        display: flex;
        align-items: center;
        padding: 10px;
        text-decoration: none;
        span {
          height: 120px;
          line-height: 60px;
        }
        &:hover {
          color: white;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    body {
      overflow-x: hidden;
    }
    width: 100%;
    height: auto;
    margin-top: 0;
    left: 0;
    border-left: 10px solid rgb(97, 161, 245);
    border-bottom: 10px solid black;
    overflow: hidden;
    ul {
      position: static;
      transform: none;
      width: 100%;
      li {
        width: 100%;
        border-radius: 0;
        a {
          justify-content: center;
          span {
            height: auto;
            line-height: normal;
          }
        }
      }
    }
  }
}
/*Structure*/
.main{
  display: flex;
  position: absolute;
  width:  calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  .labels {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 80px;
    margin-left: 550px;
  }
  .graphic{
    margin-top: 500px;
    margin-left: 0px;
    text-align: center;
    align-items: center;
}
  @media screen and (max-width: 768px) {
    width: 100%;
    margin-top: 130px;
    left: 0;
    padding-bottom: 100px;
    .labels {
      margin-top: 100px;
      margin-left: 285px;
    }
    .graphic{
        margin-top: 300px;
    }
  }
}
.upload{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  min-width: 40px;
  margin-top: 50px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  img{
    margin-top: 10px;
    margin-left: 20px;
    width: 150px;
    @media screen and (max-width: 768px) {
      width: 120px;
    }
  }
}


