<div class="container">
  <div class="left-navbar">
    <ul>
      <li>
        <a routerLink="/dashboard">
          <span class="title">Drag&Drop</span>
        </a>
      </li>
      <li>
        <a routerLink="/dashboard" >
          <span class="title">Dashboard</span>
        </a>
      </li>
      <li>
        <a href="">
          <span class="title">Log out</span>
        </a>
      </li>
    </ul>
  </div>
</div>

<!--Structure-->
<div class="main">
    <div class="upload">
      File name: {{fileChoosen?.name}}
      <input type="file" id="fileInput" (change)="choosenFile($event)">
      <label for="fileInput">
        <img src="https://icon-library.com/images/upload-image-icon-png/upload-image-icon-png-11.jpg" alt="">
      </label>
      <button *ngIf="fileChoosen" (click)="clearFile()">Eliminar archivo</button>
      </div>
      <div class="labels">
        <label>Estado con mayor acumulado a la fecha: {{mostRepeatedData?.state}} {{mostRepeatedData?.city}}</label>
        <label>Estado con menor acumulado a la fecha: {{leastRepeatedData?.state}} {{leastRepeatedData?.city}}</label>
        <label>Estado más afectado: {{mostRepeatedData?.state}} </label>
        <label>Lenght del array: {{ExcelData.length}}</label>

      </div>
      <div class="graphic">
          Grafica
      </div>
  </div>



