<div class="container">
  <div class="left-navbar">
    <ul>
      <li>
        <a href="">
          <span class="title">Drag&Drop</span>
        </a>
      </li>
      <li>
        <a href="">
          <span class="title">Dashboard</span>
        </a>
      </li>
      <li>
        <a href="">
          <span class="title">Log out</span>
        </a>
      </li>
    </ul>
  </div>
</div>

<!--Structure-->
<div class="main">
    <div class="upload">
      File name: {{fileChoosen?.name}}
      <input type="file" id="fileInput" (change)="choosenFile($event)">
      <label for="fileInput">
        <img src="https://icon-library.com/images/upload-image-icon-png/upload-image-icon-png-11.jpg" alt="">
      </label>
      <button *ngIf="fileChoosen" (click)="clearFile()">Eliminar archivo</button>
      </div>
  </div>
